/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Receipt_Number]
      ,[Exporter]
      ,[Exporter_Name]
      ,[Departure_Date]
      ,[Vessel_Number]
      ,[Vessel_Name]
      ,[Destination]
      ,[Pallet_Prefix]
      ,[Warehouse]
      ,[Grower_Block]
      ,[Commodity_ID]
      ,[Transaction_Type]
      ,[Receiving_Date]
      ,[Method_Id]
      ,[Storage_ID]
      ,[Import_Template]
      ,[Pallet_Number]
      ,[Variety_Code]
      ,[Variety_Name]
      ,[Label_Code]
      ,[Style_Code]
      ,[Size_Code]
      ,[Pack_Code]
      ,[Grade_Code]
      ,[Pack_Date]
      ,[Grower_Number]
      ,[Boxes_Count]
      ,[Hatch]
      ,[Deck]
      ,[Fumigated]
      ,[Bill_of_Lading]
      ,[Pallet_Type]
      ,[Memo]
      ,[Other]
      ,[Test_Data]
      ,[Archive_Key]
  FROM [ImportDataWarehouse].[dbo].[FAPI_Import_Data_Archive]