USE [ImportDataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[sp_update_Inventory_Table]    Script Date: 01/02/2013 08:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mikhael Brown
-- Create date: December 31, 2012
-- Description:	Updates the Product Inventory Table
-- =============================================
ALTER PROCEDURE [dbo].[sp_update_Inventory_Table]
	
AS
BEGIN
	DELETE 
FROM Famous_Produce_Inventory_Data
INSERT INTO Famous_Produce_Inventory_Data
SELECT INVENTORYIDX, INC.TAGIDX, WAREHOUSEIDX, INC.PRODUCTIDX, GABLOCKIDX,
	GALOTIDX, RECEIVEDATE, RECVQNT, RECVCOST, ISSUEQNT, ISSUECOST, QUALITYIDX, 
    AVAILABLEFLAG, SALEAMOUNT, RECEIPTAMOUNT, RECEIPTDATE, 
	REGIONIDX, METHODIDX, CMTYIDX,
      STYLEIDX, SIZEIDX, VARIETYIDX, LABELIDX, STORAGEIDX,
      COLORIDX, NAMEINVC, NAMEGROWER, TID.ID
FROM         
	OPENQUERY(FAMOUS, 'SELECT INVENTORYIDX, TAGIDX, WAREHOUSEIDX, PRODUCTIDX, GABLOCKIDX,
	GALOTIDX, RECEIVEDATE, RECVQNT, RECVCOST, ISSUEQNT, ISSUECOST, QUALITYIDX, 
    AVAILABLEFLAG, SALEAMOUNT, RECEIPTAMOUNT, RECEIPTDATE 
	FROM  IC_INVENTORY WHERE TAGIDX  > 50000') INC
	
	INNER JOIN
	OPENQUERY(FAMOUS, 'SELECT PRODUCTIDX, REGIONIDX, METHODIDX, CMTYIDX,
      STYLEIDX, SIZEIDX, VARIETYIDX, LABELIDX, STORAGEIDX,
      COLORIDX, NAMEINVC, NAMEGROWER
      FROM IC_PRODUCT_PRODUCE')  PP
      ON INC.PRODUCTIDX = PP.PRODUCTIDX
      INNER JOIN 
    OPENQUERY(FAMOUS, 'SELECT TAGIDX, ID FROM IC_TAG') TID
      ON INC.TAGIDX = TID.TAGIDX
	
END
